*{
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 1600px;
    margin: auto;
    height: 700px;
    background: white;
}

nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 214px;
    background: #000;
    overflow-y: scroll ;
    top: 0;
    bottom: 0;
}

nav .top {
    width: 90px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px;
}

nav .top img{
    width: 90px;
    border-radius: 50;
    border: 2px solid white;
    margin: 10px;
}

nav .top h1{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

nav .top span.line{
    display: block;
    width: 205%;
    height: 1px;
    background: white;
}

nav .bot .nav-links a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav a span {
    margin-left: 25px;
}


::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #DCDCDC;
}

::-webkit-scrollbar-thumb:hover{
    background: #999;
}

input {
    position: absolute;
    margin-left: 237px;
    margin-top: 22px;
    transform: scale(2.1);
    cursor: pointer;
    opacity: 0;
}

.navbar {
    max-width: 100%;
    min-height: 60px;
    margin-left: 214px;
    background: blue;
    justify-content: space-between;
    align-items: center;
}

.navbar .left .hamburger{
    padding: 18px;
}

.navbar .left .hamburger span{
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 6.5px;
}

.navbar .right h1{
    color: white;
    padding: 10px;
}

input:checked ~ nav{
    display: none;
}

input:checked ~ .navbar{
    margin-left: 0px;
}

input:checked{
    margin-left: 22.5px;
}
